[submodule "external/9arm-skills"]
	path = external/9arm-skills
	url = https://github.com/thananon/9arm-skills.git
[submodule "external/agent-skills"]
	path = external/agent-skills
	url = https://github.com/vercel-labs/agent-skills.git
